/*STYLE*/
.fr-w-100 {
    width: 100%;
}
.fr-stripped:nth-child(odd) {
    background-color: rgba(191, 204, 251, 0.37);
}
.fr-toggle--parent,.fr-accordion,.toggle-criticite,div[role="button"],.fr-list--hover li {
    cursor: pointer!important;
    user-select: none;
}
.fr-toggle--parent:hover,.fr-accordion__title:hover {
    background-color: var(--background-alt-grey);
}
.toggle-criticite:hover {
    border-radius: .25rem;
    background-color: white;
}
.fr-rounded {
    border-radius: .25rem;
}
.fr-display-block {
    display: block;
}
.fr-blockquote {
    border-left: .3rem solid var(--border-plain-blue-france);
}
.fr-list--hover li:hover {
    background-color: white;
}
.fr-list--icon-img {
   list-style: none;
}
.fr-list--icon-img li>img {
    padding-inline-start: .25rem;
}
/*COLOR*/
.fr-background--blue-france {
    background-color: var(--border-plain-blue-france);
}
.fr-btn--orange {
    background: #FF9940;
}
.fr-btn--danger {
    background:#F60700;
}
/*TEXT*/
.fr-text--white {
    color: white;
}
.fr-text--xx-light {
    font-weight: 100!important;
}
.fr-text--center {
    text-align: center!important;
}
.fr-text--right {
    text-align: right!important;
}
/*INPUTS*/
.fr-adresse-suggestion:hover {
    background-color: var(--artwork-minor-blue-cumulus);
    color:white!important;
}
.fr-input--no-resize {
    resize: vertical;
}
.toggle-criticite > input[type="radio"]
{
    width: 60px;
    height: 50px;
    position: relative;
}
.toggle-criticite > input[type="radio"]::before
{
    position:absolute;
    content:'';
    top: 0;
    left: 25%;
    width: 50px;
    height: 50px;
}
.toggle-criticite > input[type="radio"].moyen:checked::before {
    background:  url("../img/s2.png") no-repeat center center/cover;
}
.toggle-criticite > input[type="radio"].moyen:not(:checked)::before {
    background:  url("../img/s2_off.png") no-repeat center center/cover;
}
.toggle-criticite > input[type="radio"].grave:checked::before {
    background:  url("../img/s4.png") no-repeat center center/cover;
}
.toggle-criticite > input[type="radio"].grave:not(:checked)::before {
    background:  url("../img/s4_off.png") no-repeat center center/cover;
}
.toggle-criticite > input[type="radio"].tres-grave:checked::before {
    background:  url("../img/s5.png") no-repeat center center/cover;
}
.toggle-criticite > input[type="radio"].tres-grave:not(:checked)::before {
    background:  url("../img/s5_off.png") no-repeat center center/cover;
}