<!DOCTYPE html>
<html lang="fr">
<head><link rel="stylesheet" href="invoice.css">
    <title>{% block title %}{% endblock %}</title></head>
<body style="padding: 3rem">
{% block body %}{% endblock %}
</body>
</html>