{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="fr-container-fluid">
        <div class="fr-grid-row">
            <nav class="fr-sidemenu fr-py-5v fr-pl-5v fr-pr-0  fr-text--center fr-col-2" aria-label="Menu latéral">
                <div class="fr-sidemenu__inner">
                    <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans
                        cette rubrique
                    </button>
                    <div class="fr-collapse" id="fr-sidemenu-wrapper">
                        <div class="fr-sidemenu__title">Tableau de bord<br>
                            <small class="fr-text-label--blue-france">{{ app.user.userIdentifier }}</small></div>

                        <form action="#" method="POST" id="searchForm" class="fr-form-group">
                            <div class="fr-search-bar" id="header-search">
                                <label class="fr-label" for="header-search-input">Rechercher</label>
                                <input class="fr-input" placeholder="Rechercher" type="search" id="header-search-input"
                                       name="searchTermsMain" value="">

                                <button class="fr-btn" title="Rechercher" id="histoSearch">
                                    Rechercher
                                </button>
                            </div>
                        </form>

                        <ul class="fr-sidemenu__list">
                            <li class="fr-sidemenu__item fr-sidemenu__item--active">
                                <a class="fr-sidemenu__link" href="#" target="_self" aria-current="page">Vue Générale</a>
                            </li>
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link" href="#" target="_self">Cartographie</a>
                            </li>
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link" href="#" target="_self">Statistiques</a>
                            </li>
                            <?php echo $compMenu; ?>
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link" href="#" target="_self">Export</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="fr-col">
                <section class="fr-col-12 bg-light  fr-p-5v">
                    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                        <div class="fr-col">
                            <div class="fr-rounded fr-highlight fr-p-3v fr-text-center bloc-stat">
                                <span class="fr-display-xs">0</span><br>
                                <strong class="text-blue-france">Nouveaux</strong>
                            </div>
                        </div>
                        <div class="fr-col">
                            <div class="fr-rounded  fr-highlight fr-p-3v fr-text-center bloc-stat">
                                <span class="fr-display-xs">0</span><br>
                                <strong class="text-blue-france">En attente</strong>
                            </div>
                        </div>
                        <div class="fr-col">
                            <div class="fr-rounded  fr-highlight fr-p-3v fr-text-center bloc-stat">
                                <span class="fr-display-xs">0</span><br>
                                <strong class="text-blue-france">A revoir</strong>
                            </div>
                        </div>
                        <div class="fr-col">
                            <div class="fr-col fr-rounded  fr-highlight fr-p-3v fr-text-center bloc-stat">
                                <span class="fr-display-xs">0</span><br>
                                <strong class="text-blue-france">Fermés</strong>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
{% endblock %}
